VITE_SUPABASE_URL=https://pljlbkxbaasfvbbwikbg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsamxia3hiYWFzZnZiYndpa2JnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5MjgwOTEsImV4cCI6MjA5NzUwNDA5MX0.4UTMp1beGjxaUA2C8FDKScduKSZoi4IDA_BrRFuhIp4
